<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.modules.information.mapper.InformationMapper">



    <resultMap id="resultMap" type="com.jc.modules.information.entity.InformationEntity">
        <id column="id" property="id"/>
        <result column="type_name" property="typeName"/>
        <result column="status" property="status"/>
        <result column="is_parent" property="isParent"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>
    <select id="selectPage" resultMap="resultMap">
        SELECT ji.id,ji.type_name,ji.status ji.is_parent FROM jc_information ji
    </select>

    <insert id="insertBatch" parameterType="ArrayList">
        INSERT INTO jc_information(type_name,status,is_parent,create_time,create_by,update_time,update_by)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.typeName},#{item.status},#{item.isParent},#{item.createTime},#{item.createBy},#{item.updateTime},#{item.updateBy})
        </foreach>
    </insert>

    <select id="test" resultMap="resultMap">
        SELECT * FROM jc_information where type_name = #{typeName} AND status = #{status}
    </select>
    <!--分页-->
    <select id="getList" resultMap="information">
        select jid.detail_id,jid.category_id,jid.image,jid.keyword,jid.click,jid.brief,jid.text,jid.channel,jid.create_time,
        ji.id,ji.type_name,ji.status,ji.is_parent
        from jc_information ji
        LEFT JOIN
        jc_information_detail jid
         on ji.id = jid.category_id
            <if test="categoryId != 0">
                where jid.category_id = #{categoryId}
            </if>


         order by jid.update_time desc
    </select>

    <resultMap id="information" type="com.jc.modules.information.entity.InformationDetailEntity" autoMapping="true">
        <id column="detail_id" property="detailId"/>
        <result column="category_id" property="categoryId"/>
        <result column="image" property="image"/>
        <result column="keyword" property="keyword"/>
        <result column="click" property="click"/>
        <result column="brief" property="brief"/>
        <result column="text" property="text"/>
        <result column="channel" property="channel"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <association property="informationEntity" javaType="com.jc.modules.information.entity.InformationEntity">
            <id column="id" property="id"/>
            <result column="type_name" property="typeName"/>
            <result column="status" property="status"/>
            <result column="is_parent" property="isParent"/>
            <result column="create_time" property="createTime"/>
            <result column="create_by" property="createBy"/>
            <result column="update_time" property="updateTime"/>
            <result column="update_by" property="updateBy"/>
        </association>
    </resultMap>

    <!--查询文章栏目表分类下的文章-->

</mapper>