<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.modules.information.mapper.InformationMapper">

    <insert id="insertUserInformation" parameterType="ArrayList">
        INSERT INTO
          jc_user(username,phone,email,occupation,message,create_time,create_by,pro_update_time,pro_update_by)
        VALUES
          #{username},#{phone},#{email},#{occupation},#{message},#{create_time},#{create_by},#{pro_update_time},#{pro_update_by}
    </insert>
</mapper>