<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>金诚科创</title>

     <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/venobox.css">
    <link rel="stylesheet" href="../css/slick-theme.css">
    <link rel="stylesheet" href="../css/pb.calendar.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="70">

<!--*********************************
         menu header part start
    *******************************-->
<div class="full_manu_header " id="menu_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9  col-sm-8 col-md-9">
                <div class="header_left">
                    <ul>
                        <li>欢 迎 联 系</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> (+020) 136 3240 9608</li>
                        <li class="eml"><i class="fa fa-envelope"></i>
                            178642170@qq.com</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3  col-sm-4 col-md-3">
                <div class="header_right ">
                    <ul>
                        <li><a class="register" href="#">技 术 </a></li>
                        <li><a class="login" href="#"> / 创 新</a></li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>
<!--*********************************
        menu header part end
*******************************-->
    


   
<!--*********************************
         Nav menu part start
    *******************************-->
<nav class="navbar main_menu navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="#">
            <!-- TODO -->
            <img src="../images/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">首 页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about_us.html">关 于 我 们 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="our_project.html">产 品 研 发 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="children.html">少 儿 频 道 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cooperate.html">创 新 合 作</a>
                </li>
            </ul>
            <a class="get-start" href="#">金诚 / 科创 </a>
        </div>
    </div>
</nav>

<!--*********************************
        Nav menu part end
    *******************************-->
    
   
    <!--*********************************
         banner part Start
    *******************************-->
    <section id="event_banner_part">
        <div class="about_banner" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about_banner_text">
                            <h3>少儿频道 </h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">少儿频道 </li>
                                    <li class="breadcrumb-item"><a href="our_teacher">授课讲师 -> Click</a></li>
                                </ol>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--*********************************
         banner part end
    *******************************-->


   
    <!--*********************************
         support part start
    *******************************-->
    <section id="about_support">
        <div class="container support">
            <div class="row">
                <div class="col-md-4 px-0">
                    <div class="online">
                        <img src="../images/online_class_icon.png" alt="#">
                        <div class="text-center">
                            <h4>课程表</h4>
                            <a href="#">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-0">
                    <div class="online ">
                        <img src="../images/online_support_icon.png" alt="#">
                        <div class="text-center">
                            <h4>授课讲师</h4>
                            <a href="our_teacher">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-0">
                    <div class="online ">
                        <img src="../images/lifetime_support_icon.png" alt="#">
                        <div class="text-center">
                            <h4>联系我们</h4>
                            <a href="cooperate.html">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*********************************
        support part end
    *******************************-->
<!--*********************************
    About children.html text part start
*******************************-->
<section id="about_a">
    <div class="about_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="slider_about">
                        <div class="about_slider">
                            <div class="">
                                <img src="../images/se1.png" class="img-fluid" alt="aboutSlider">
                            </div>
                        </div>
                        <div class="about_slider">
                            <div class="">
                                <img src="../images/se2.png" class="img-fluid" alt="aboutSlider2">
                            </div>
                        </div>
                        <div class="about_slider">
                            <div class="">
                                <img src="../images/se3.png" class="img-fluid" alt="aboutSlider3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6   pr-0">
                    <div class="about_slider_text">
                        <h2  style="text-align: center">少儿研讨服务宗旨理念</h2>

                        <p class="text_top" style="padding-top: 0px">
                            <h4 style="text-align: center">痛点1：市场仍待教育</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;孩子虽为产品的使用者，但家长却是教育的决策者和实际付费人这个事实在编程教育上体现得淋漓尽致。孩子学编程时即便再开心，家长还是以提分为第一考虑要素。
                        </p>
                        <p class="text_top" style="padding-top: 0px">
                        <h4 style="text-align: center">痛点2：缺乏权威体系；课程体系、工具未本土化</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;众所周知，中国编程教育起步晚，行业缺乏权威评价体系和统一的行业标准。
                        而在课程内容上，市场大多机构都在参考国外课程大纲，缺乏真正适合中国本土化的成体系的优质课程内容。好未来、网易等教育巨头在少儿编程上的布局因此采取了和美国优秀玩家合作。
                        </p>
                        <p class="text_top" style="padding-top: 0px">
                        <h4 style="text-align: center">痛点3：师资匮乏</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;不同于K12、少儿英语培训市场，市面上已经聚集大量优质师资，少儿编程领域老师可以说基本空缺。目前很多少儿编程创始人虽然都是专业的“码农”出身，但是要想做大一样面临老师难找的问题。
                        </p>
                        <p class="text_top" style="padding-top: 0px">
                        <h4 style="text-align: center">后来者如何突围</h4>
                        &nbsp;&nbsp;&nbsp;&nbsp;鲸准研究院报告显示，2017年全年有30家编程项目成立，达历史最高值。截至2018年7月15日，2018年少儿编程公司的成立数量仍保持较高水平。
                        而我国少儿编程教育市场共发生58笔融资事件，总额超14亿元。自2014年起，陆续由企业获得融资，融资数量和金额呈现逐年增长趋势；尤其2017年之后，项目融资有了陡增趋势，资本开始在此领域布局。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--*********************************
     About children.html text part End
*******************************-->

<!--*********************************
         Our eventdetails part start
    *******************************-->
    <section id="event_detail">
        <div class="container">
            <div class="all_event">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <ul class="nav nav-pills " id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">已结束 : Previous</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">将启动 : Upcoming</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="col-lg-6 event_right ">
                                        <div class="event_bg">
                                            <div class="row  event-details-top">
                                                <div class="col-lg-5 col-sm-5  col-md-5 ">
                                                    <div class="event-img">
                                                        <img src="../images/event2.png" class="w-100" alt="ux">
                                                        <div class="event-img-text">
                                                            <p>1 <span>May</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-sm-7 col-md-7">
                                                    <div class="event-text">
                                                        <h3>少儿座谈会</h3>

                                                        <p>论少儿教育重要性</p>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <P class="sem_title"> K12 - </P>
                                                        <i class="far fa-clock  icon"></i>
                                                        <P class="sem_title"> 14:00 - 15:00</P>
                                                        <div>
                                                           <a href="#">View</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 event_right ">
                                        <div class="event_bg">
                                            <div class="row  event-details-top">
                                                <div class="col-lg-5 col-sm-5  col-md-5 ">
                                                    <div class="event-img">
                                                        <img src="../images/event2.png" class="w-100" alt="ux">
                                                        <div class="event-img-text">
                                                            <p>1 <span>May</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-sm-7 col-md-7">
                                                    <div class="event-text">
                                                        <h3>梦想起航</h3>

                                                        <p>以梦为马 - 不负韶华</p>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <P class="sem_title"> 七号小镇</P>
                                                        <i class="far fa-clock  icon"></i>
                                                        <P class="sem_title"> 10:00 - 12:00</P>
                                                        <div>
                                                            <a href="#">View</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="row">
                                    <div class="col-lg-6 event_right ">
                                        <div class="event_bg">
                                            <div class="row  event-details-top">
                                                <div class="col-lg-5     col-sm-5 col-md-5">
                                                    <div class="event-img1">
                                                        <img src="../images/event2.png" class="w-100" alt="ux">
                                                        <div class="event-img1-text">
                                                            <p>15<span> May</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7  col-sm-7 col-md-7">
                                                    <div class="event-text">
                                                        <h3>梦想召集令</h3>

                                                        <p>暑期训练营正式起航咯</p>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <P class="sem_title"> 雅居乐</P>
                                                        <i class="far fa-clock  icon"></i>
                                                        <P class="sem_title"> 14:00 - 18:00</P>
                                                        <div>
                                                            <a href="#">Join Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--*********************************
         Our eventdetails part end
*******************************-->


  
<!--*********************************
         Our ContactInfo part start
    *******************************-->
<section id="contact-info">
    <div class="container">
        <div class="content-text">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="cheader-left">
                        <a href="#"><img src="../images/footerlogo.png" alt="footer logo"></a>
                    </div>
                    <div class="c-text-left">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-12">
                    <div class="cheader-center">
                        <h3>Quick Links</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-7 pl-md-3  col-sm-6 pl-sm-5 ">
                            <div class="c-text-menu1">
                                <ul>
                                    <li><a href="/">首 页 </a></li>
                                    <li><a href="about_us.html">关 于 我 们</a></li>
                                    <li><a href="our_project.html">产 品 研 发</a></li>
                                    <li><a href="children.html">少 儿 频 道</a></li>
                                    <li><a href="cooperate.html">创 新 合 作</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cheader-center">
                        <h3>联系 / 方式</h3>
                    </div>
                    <div class="c-text-location">
                        <div class="row">
                            <div class="col-lg-3  col-md-3">
                                <ul>
                                    <li><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li><a href="#"><i class="fas fa-phone"></i></a></li>
                                    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-9  col-md-9">
                                <div class="address">
                                    <p class="address_title">地址 (Address)</p>
                                    <p>广州市番禺区员岗(地铁G出口)七号小镇 - F栋106座</p>
                                    <p class="address_title">电话 (Phone)</p>
                                    <p>+020 136 3240 9608</p>
                                    <p class="address_title">E-mail</p>
                                    <p>178642170@qq.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--*********************************
          Our ContactInfo part end
    *******************************-->


    <!--*********************************
       Our footer part Start
    *******************************-->
<section id="footer">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2018. All rights <a href="http://www.17sucai.com/" title="17sucai">Reserved</a> by <span>JCKC</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--*********************************
       Our footer part end
    *******************************-->

<div class="back_to_top">
    <i class="fa fa-angle-up "></i>
</div>
    <!--*********************************
        back to top end
    *******************************-->



<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../js/popper.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/venobox.min.js"></script>
<script type="text/javascript" src="../js/slick.min.js"></script>
<script type="text/javascript" src="../js/waypoints.min.js"></script>
<script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="../js/Carousel.js"></script>
<script type="text/javascript" src="../js/moment.min.js"></script>
<script type="text/javascript" src="../js/pb.calendar.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>

</body>

</html>
