<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>金诚科创</title>

    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/venobox.css">
    <link rel="stylesheet" href="../css/slick-theme.css">
    <link rel="stylesheet" href="../css/pb.calendar.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
</head>

<body data-spy="scroll" data-target=".main_menu" data-offset="70">

    <!--***********************
    menu header part start
  ************************-->
    <div class="full_manu_header " id="menu_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-9  col-sm-8 col-md-9">
                    <div class="header_left">
                        <ul>
                            <li>欢 迎 联 系</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> (+020) 136 3240 9608</li>
                            <li class="eml"><i class="fa fa-envelope"></i>
                                178642170@qq.com</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-3  col-sm-4 col-md-3">
                    <div class="header_right ">
                        <ul>
                            <li><a class="register" href="#">技 术 </a></li>
                            <li><a class="login" href="#"> / 创 新</a></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--********************
      menu header part end
    ********************-->

    <!--********************
     navbar-part start
    ********************-->
    <nav class="navbar main_menu navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand" href="#">
                <!-- TODO -->
                <img src="../images/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="page/index.html">首 页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="page/about_us.html">关 于 我 们 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="page/our_project.html">产 品 研 发 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="page/children.html">少 儿 频 道 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="page/cooperate.html">创 新 合 作</a>
                    </li>
                </ul>
                <a class="get-start" href="#">金诚 / 科创 </a>
            </div>
        </div>
    </nav>
    <!--********************
     navbar-part end
    ********************-->

    <!--********************
     banner part Start
    ********************-->
    <section id="banner">
        <div class="full_slider">
            <div class="slider">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bnr_text">
                                <h1><span>金诚科创</span> 软件开发设计有限公司</h1>
                                <p style="padding: 5px">新生代人们提供最高品质的软件和解决方案的企业.</p>
                                <p style="padding: 5px">专业研发手机移动APP，微信公众号，网站建设，软件二次开发，软件定制开发等.</p>
                                <p style="padding: 5px">品牌设计，精品UI，产品精修，三折页，Logo，图标设计，交互页面设计等.</p>
                                <p style="padding-left: 5px;padding-top: 5px;">技能技术拓展研发，兴趣业余开发拓展.</p>
                                <a class="ac" href="#">Cooperate.</a>
                                <a href="#">Innovation.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider1">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bnr_text">
                             <!--   <h1><span>金诚科创</span> 启蒙教育 - 从小开始 / 从我做起</h1>
                                <p style="padding: 5px">　</p>
                                <p style="padding: 5px">　</p>
                                <p style="padding: 5px">　</p>
                                <p style="padding-left: 5px;padding-top: 5px;">　</p>
                                <a class="ac" href="#">Cooperate.</a>
                                <a href="#">Innovation.</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--*********************************
         Our ContactInfo part start
    *******************************-->
    <section id="contact-info">
        <div class="container">
            <div class="content-text">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="cheader-left">
                            <a href="#"><img src="../images/footerlogo.png" alt="footer logo"></a>
                        </div>
                        <div class="c-text-left">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6 col-sm-12">
                        <div class="cheader-center">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-7 pl-md-3  col-sm-6 pl-sm-5 ">
                                <div class="c-text-menu1">
                                    <ul>
                                        <li><a href="page/index.html">首 页 </a></li>
                                        <li><a href="page/about_us.html">关 于 我 们</a></li>
                                        <li><a href="page/our_project.html">产 品 研 发</a></li>
                                        <li><a href="page/children.html">少 儿 频 道</a></li>
                                        <li><a href="page/cooperate.html">创 新 合 作</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cheader-center">
                            <h3>联系 / 方式</h3>
                        </div>
                        <div class="c-text-location">
                            <div class="row">
                                <div class="col-lg-3  col-md-3">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-home"></i></a></li>
                                        <li><a href="#"><i class="fas fa-phone"></i></a></li>
                                        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9  col-md-9">
                                    <div class="address">
                                        <p class="address_title">地址 (Address)</p>
                                        <p>广州市番禺区员岗(地铁G出口)七号小镇 - F栋106座</p>
                                        <p class="address_title">电话 (Phone)</p>
                                        <p>+020 136 3240 9608</p>
                                        <p class="address_title">E-mail</p>
                                        <p>178642170@qq.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*********************************
          Our ContactInfo part end
    *******************************-->



    <!--*********************************
       Our footer part Start
    *******************************-->
    <section id="footer">
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2018. All rights <a href="http://www.17sucai.com/" title="17sucai">Reserved</a> by <span>JCKC</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*********************************
       Our footer part end
    *******************************-->

    <div class="back_to_top">
        <i class="fa fa-angle-up "></i>
    </div>
    <!--*********************************
        back to top end
    *******************************-->


    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/venobox.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="../js/Carousel.js"></script>
    <script type="text/javascript" src="../js/moment.min.js"></script>
    <script type="text/javascript" src="../js/pb.calendar.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</body>

</html>
