<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>金诚科创</title>



    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/venobox.css">
    <link rel="stylesheet" href="../css/slick-theme.css">
    <link rel="stylesheet" href="../css/pb.calendar.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="70">


    <!--*********************************
      menu header part start
    *******************************-->
    <div class="full_manu_header " id="menu_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-9  col-sm-8 col-md-9">
                    <div class="header_left">
                        <ul>
                            <li>欢 迎 联 系</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> (+020) 136 3240 9608</li>
                            <li class="eml"><i class="fa fa-envelope"></i>
                                178642170@qq.com</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-3  col-sm-4 col-md-3">
                    <div class="header_right ">
                        <ul>
                            <li><a class="register" href="#">技 术 </a></li>
                            <li><a class="login" href="#"> / 创 新</a></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--*********************************
      menu header part end
    *******************************-->


    <!--*********************************
      Nav menu part start
    *******************************-->
    <nav class="navbar main_menu navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand" href="#">
                <!-- TODO -->
                <img src="../images/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="index.html">首 页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about_us.html">关 于 我 们 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="our_project.html">产 品 研 发 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="children.html">少 儿 频 道 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cooperate.html">创 新 合 作</a>
                    </li>
                </ul>
                <a class="get-start" href="#">金诚 / 科创 </a>
            </div>
        </div>
    </nav>
    <!--*********************************
       Nav menu part end
    *******************************-->


    <!--*********************************
        banner part Start
    *******************************-->
    <section id="course_banner_part">
        <div class="about_banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about_banner_text">
                            <h3>研发 / 主研业务 </h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="#">Our Project </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*********************************
        banner part end
    *******************************-->


    <!--*********************************
         support part start
    *******************************-->
    <section id="about_support">
        <div class="container support">
            <div class="row">
                <div class="col-md-4 px-0">
                    <div class="online">
                        <img src="../images/online_class_icon.png" alt="online_class_icon">
                        <div class="text-center">
                            <h4>Java 软件开发</h4>
                            <a href="#">Learn More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-0">
                    <div class="online ">
                        <img src="../images/online_support_icon.png" alt="online_support_icon">
                        <div class="text-center">
                            <h4>微信 / 小程序研发</h4>
                            <a href="#">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-0">
                    <div class="online ">
                        <img src="../images/lifetime_support_icon.png" alt="lifetime_class_icon">
                        <div class="text-center">
                            <h4>品牌设计 &amp; UI/UE</h4>
                            <a href="#">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*********************************
        support part end
    *******************************-->



    <!--*********************************
         our course part start
    *******************************-->
    <section id="our_course">
        <div class="container">
            <div class="row course_page_slider">

                <div class="col-lg-4   col-md-6  col-sm-6">
                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/ourcourse1.png" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/ourcourse1Image.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>Rocky Qiu</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <p>4.8 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>呆账信息管理系统 </h4><h4 style="float:right;">Java研发</h4>
                                    <p>（政务系统）高度管理已过偿付齐先，经催讨尚不能，长期处于呆滞状态，针对信息构建联动ERP系统</p>
                                </div>
                            </div>
                            <div class="row">
                        </div>
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name">1 Months</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name">30000 RMB</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name">30 Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4   col-md-6  col-sm-6">
                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/ourcourse2.png" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/ourcourse2Image.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>Charles Chan</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <p>4.9 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>某保险信息管理系统 </h4><h4 style="float:right;">Java研发</h4>
                                    <p>第三方公司针对现主流的保险单据分析与指引，与保险公司进行接口对接业务，联合研发</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name">3 Months</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name">35000 RMB</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name">40 Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4   col-md-6  col-sm-6">

                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/ourcourse3.png" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/ourcourse3Image.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>Charles Chan</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <p>5.0 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>电子商务系统 </h4><h4 style="float:right;">Java研发</h4>
                                    <p>技能研发，本项目以技能研发，透彻分析主流技术的涵盖及其覆盖面，针对技术剖析得出技术优劣</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name">2 Months</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name">0 RMB</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name">80 Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4  col-md-6  col-sm-6">
                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/Our_Courses_page_04.png" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/ourcourse6Image.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>JW Sun</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <p>4.7 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>仿58同城租房小程序 </h4><h4 style="float:right;">小程序研发</h4>
                                    <p>二次研发，针对以有系统完成优化措施，实时信息更新，房源更新，后台数据库重构优化等</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name">15 Days</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name">5000 RMB</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name">5 Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6  col-sm-6">

                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/Ethical_Hacking.jpg" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/Conductor_02.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>JieWen Chan</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <p>4.9 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>好食界商城 </h4><h4 style="float:right;">小程序研发</h4>
                                    <p>采取饿了么小程序构建模板，快速搭建交易平台，提供构建交付二维码，实时定位等</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name">20 Days</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name">9000 RMB</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name">8 Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4  col-md-6  col-sm-6">

                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/Our_Courses_page_06.png" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/ourcourse3Image.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>Charles Chan</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <p>4.8 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>仿(跑得快)游戏Apps </h4><h4 style="float:right;">Apps研发</h4>
                                    <p>休闲游戏玩法，使用双端技术 IOS 安卓进行研发，使用棋牌引擎</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name">3 Months</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name">32000 RMB</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name">70 Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-4  col-md-6  col-sm-6">
                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/Our_Courses_page_04.png" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/Conductor_01.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>William Zhu</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <p>5.0 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>某公司双11活动</h4><h4 style="float:right;">品牌制定方案</h4>
                                    <p>快速构建公司得活动方案，制定一系列平面设计，并且对于活动推广进行合理修整</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name">15 Days</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name">12000 RMB</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name">3 Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6  col-sm-6">

                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/Ethical_Hacking.jpg" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/Conductor_01.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>William Zhu</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <p>4.8 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>契贺公司系列设计 </h4><h4 style="float:right;">系列设计</h4>
                                    <p>与该公司制定长期合作计划，并且本公司设计师担任设计负责人，提供优质的案例设计</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name"> - </p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name">- RMB</p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name">- Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4  col-md-6  col-sm-6">

                    <div class="course-one">
                        <div class="course-banner">
                            <img src="../images/Our_Courses_page_06.png" class="w-100" alt="1">
                            <div class="course-banner-overlay">
                                <a href="#"> <i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="trainer_pro_details">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="Pro_img">
                                        <img src="../images/ourcourse6Image.png" alt="1 profile pic">
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="profile">
                                        <p>Conduct by:</p><br>
                                        <h5>Peng Zhao</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-0">
                                    <div class="pro-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half"></i>
                                        <p>5.0 Ratings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="crs-details">
                                    <h4>三折页/Banner/交互设计</h4><h4 style="float:right;">联合设计</h4>
                                    <p>制定相关三折页的体验，Banner图的快速构图，交互设计体验，易拉宝等</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  col-4  p-0">
                                <div class="crs_footer">
                                    <p><span>Course</span> Duration</p>
                                    <p class="m_name"> - </p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Course Fee</p>
                                    <p class="m_name"> - </p>
                                </div>
                            </div>
                            <div class="col-lg-4  col-4 p-0">
                                <div class="crs_footer">
                                    <p>Total Classes</p>
                                    <p class="m_name"> - </p>
                                </div>
                            </div>
                        </div>
                        <div class="enroll">
                            <a href="#">Learn More</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!--*********************************
         our course part end
    *******************************-->



    <!--*********************************
     Our ContactInfo image part Start
    *******************************-->
    <section id="contact-info">
        <div class="container">
            <div class="content-text">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="cheader-left">
                            <a href="#"><img src="../images/footerlogo.png" alt="footer logo"></a>
                        </div>
                        <div class="c-text-left">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6 col-sm-12">
                        <div class="cheader-center">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-7 pl-md-3  col-sm-6 pl-sm-5 ">
                                <div class="c-text-menu1">
                                    <ul>
                                        <li><a href="index.html">首 页 </a></li>
                                        <li><a href="about_us.html">关 于 我 们</a></li>
                                        <li><a href="our_project.html">产 品 研 发</a></li>
                                        <li><a href="children.html">少 儿 频 道</a></li>
                                        <li><a href="cooperate.html">创 新 合 作</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cheader-center">
                            <h3>联系 / 方式</h3>
                        </div>
                        <div class="c-text-location">
                            <div class="row">
                                <div class="col-lg-3  col-md-3">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-home"></i></a></li>
                                        <li><a href="#"><i class="fas fa-phone"></i></a></li>
                                        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9  col-md-9">
                                    <div class="address">
                                        <p class="address_title">地址 (Address)</p>
                                        <p>广州市番禺区员岗(地铁G出口)七号小镇 - F栋106座</p>
                                        <p class="address_title">电话 (Phone)</p>
                                        <p>+020 136 3240 9608</p>
                                        <p class="address_title">E-mail</p>
                                        <p>178642170@qq.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--*********************************
     Our ContactInfo image part end
    *******************************-->


    <!--*********************************
       Our footer part Start
    *******************************-->
    <section id="footer">
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2018. All rights <a href="http://www.17sucai.com/" title="17sucai">Reserved</a> by <span>JCKC</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--*********************************
       Our footer part end
    *******************************-->

    <div class="back_to_top">
        <i class="fa fa-angle-up "></i>
    </div>
    <!--*********************************
        back to top end
    *******************************-->


    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/venobox.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="../js/Carousel.js"></script>
    <script type="text/javascript" src="../js/moment.min.js"></script>
    <script type="text/javascript" src="../js/pb.calendar.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>



</body>

</html>
